 *{padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* header style */
 header .a-header ul{
   margin-top: 10px;
 }
 header .a-header ul li{
   border-left:1px solid #888 ;
   padding-left: 10px;
 }
 header .a-header ul li a{
   text-decoration: none;
   color: #888 !important;
 }
 header .a-header select{
   padding: 5px;
   
 }
 
 header .a-header-1 ul{
  display: flex;
  list-style: none;
  text-align: center;
  gap: 30px;
  margin: 0%;
 }
 header .a-header-1 ul li a{
   color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 26px;
   
 }
 header .a-header-1 ul li a:hover{
   background-color: #14b2e2;
transition: 0.5ms;
 }
 /* banner style */
 main .a-banner{
   background-image: url("/img/personal_banner.jpg");
   background-repeat: no-repeat;
   background-size:contain;
   width: 98%;
   /* background-position:20% 50%; */
   box-sizing: border-box !important;
   overflow: hidden;
   height: 300px;
   margin:10px 13px 0px 13px;
 }
 main .a-banner .a-banner-content{
   text-align: end;
   position: absolute;
   right: 15px;
   bottom: 94px;
 }
 main .a-banner .a-banner-content button{
padding: 10px 50px;
  background: #2b9dcc !important;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: bold; 
 }
 main .a-banner .a-banner-content button:hover{
   color: #c1ecff;
   background: #007fb4 !important;
 }
 main .a-banner .a-banner-content p{
   color: #10578d;
    font-weight: bold;
    font-size: 13px;
 }
 main .a-banner .a-banner-content ul{
   list-style: none;
 }
 
 main .a-banner .a-banner-content ul li a{
   text-decoration: none;
   color: #1b75bc;
   font-size: 12px;
   border-left:2px solid  #1b75bc;
  padding: 0px 10px;
 }