 *{padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* header style */
 header .a-header ul{
   margin-top: 10px;
 }
 header .a-header ul li{
   border-left:1px solid #888 ;
   padding-left: 10px;
   padding-right: 10px
 }
 header .a-header ul li a{
   text-decoration: none;
   color: #888 !important;
 }
 header .a-header select{
   padding: 5px;
 }
 header .a-header-1 ul{
  display: flex;
  list-style: none;
  text-align: center;
  gap: 30px;
  margin: 0%;
 }
 header .a-header-1 ul li a{
   color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 26px;
   
 }
 header .a-header-1 ul li a:hover{
   background-color: #14b2e2;
transition: 0.5ms;
 }
 /* banner style */
 main .a-banner{
   background-image: url("/img/personal_banner.jpg");
   background-repeat: no-repeat;
   background-size:contain;
   width: 100%;
   box-sizing: border-box !important;
   overflow: hidden;
   height: 250px;
   text-align: end;
  
 }
 main .a-banner .a-banner-content{
  position: absolute;
  right: 0;
  bottom: 24px;
 }
 main .a-banner .a-banner-content button{
     padding: 10px 50px;
    background: #2b9dcc !important;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: bold; 
 }
 main .a-banner .a-banner-content  button:hover{
   color: #c1ecff;
   background: #007fb4 !important;
 }
 main .a-banner .a-banner-content   p{
   color: #10578d;
    font-weight: bold;
    font-size: 13px;
 }
 main .a-banner .a-banner-content   ul{
   list-style: none;
 }
 main .a-banner .a-banner-content   ul li a{
   text-decoration: none;
   color: #1b75bc;
   font-size: 12px;
   border-left:2px solid  #1b75bc;
  padding: 0px 10px;
 }
  /* footer */
  footer .a-footer{
    background: #414141;
   border-top: 3px solid #1b75bc;
   overflow: hidden;
   padding: 10px 20px;
}
footer .a-footer-1{
    background: #535353;
    padding: 10px 20px;
} 
footer .a-footer-1 a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
/* smile */
main .a-smile{
  background: #fff;
  border: 1px solid #dcdcdc;

}
main .a-smile .a-green{
  position: relative;
  background-image: url("/img/green_smiley.png");
  background-repeat: no-repeat;
  height: 50px;
}
main .a-smile .a-red{
  position: relative;
  background-image: url("/img/red_smiley.png");
  background-repeat: no-repeat;
  height: 50px;
}
main .a-smile img{
  position: absolute;
   left: 23px;
  /* border: 1px solid blue; */
 
}
main .a-smile h6{
  font-size: 12px;
  color:  #444;;
 
}
main .a-smile h5{
  position: absolute;
  right: 50%;
  font-size: 16px;
  color: #098809;
  top:15px;
  
}

/* last section */
main .a-last-section h6{
  padding-left: 20px !important;
  background: #e6e6e6;
    color: #555;
    padding: 7px;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}
main .a-last-section ul{
  list-style: none;
  margin-top: 5px;
}
main .a-last-section ul li a{
  color: #656565;
  font-size: 12px;
  text-decoration: none;
} 
main .a-last-section ul li a i{
  padding-right: 5px;
}